p {
	/* 
                element selector
                 */
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	color: black;
	font-size: 14px;
}

/* selector */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: brown;
}

.product-header {
	/* [.] class selector */
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

#add-button {
	/* [#] id selector */
	color: white;
	font-weight: bold;
	background-color: green;
	text-align: center;
	font-size: 10px;
	padding: 0 12px;
	border-radius: 20px;
	box-shadow: gray 5px 5px 3px;
}

.menu {
	list-style: none;
}

.menu li {
	display: inline;
	margin: 10px;
}

.menu li a:link {
	/* sudo selector */
	/* menu içindeki li içindeki a elementleriyle sınırlandırıldı */
	color: black;
	text-decoration: none;
}

.menu li a:hover {
	color: brown;
	font-style: italic;
	font-size: larger;
}

.menu li a:visited {
	color: black;
	text-decoration: none;
}
