@{
    @model PaginationCourseModel;
    ViewData["Title"] = "Home Page";
    Int32 columnCount = default;
}

<div class="row mt-4">
    @foreach(CourseDisplayResponse courseDisplay in Model.Courses) {
        if(columnCount != default && columnCount % 4 == default) {
            @:</div>
            @:<div class="row mt-4">
            @*Html'e müdahale ediyoruz*@
        }

        <div class="col-3">
            <partial name="_CourseDisplay" model="courseDisplay"/>
        </div>

        columnCount++;
    }   
</div>

<div page-model="Model.PagingInfo" page-action="Index" class="mt-4"></div>

@*<div>
    <ul class="pagination pagination-lg">
    @for(Int32 i = 1; i <= ViewBag.TotalPage; i++) {
        <li class="page-item @(i == ViewBag.PageNo ? activeClass : "")">
            <a asp-action="Index" asp-route-pageNo="@i" class="page-link">@i</a>
        </li>
    }
    </ul>
</div>*@

<div class="toast-container text-bg-primary position-fixed top-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
      <strong class="me-auto">Sepet Bilgisi</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">

    </div>
  </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            console.log('ready');
            $('.basket').on('click', function() {
                const id = $(this).data('id');
                $.ajax({
                    url: `/Shopping/AddCourse/${id}`,
                    type: 'GET',
                    success: function(data){
                        $('.toast-body').text(data.message);
                        const toastLiveExample = document.getElementById('liveToast');
                        bootstrap.Toast.getOrCreateInstance(toastLiveExample).show();
                        //alertify.success(data.message);
                        location = location;
                    },
                    error: function(err){
                        console.log('HATA => ', err);    
                    }
                });
            });
        });
    </script>
}